table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #e0cfcf;
    text-align: left;
    padding: 8px;
}

body {
    background-color: #c0aeae;
}

tr:nth-child(even) {
    background-color: #c0aeae;
}
